/project/week06/.project
/project/week06/bin
/project/week06/.classpath
/project/.project
/project/.settings
/algorithm/.settings
/algorithm/bin
/algorithm/.classpath
/algorithm/.project
/algorithm/hs_err_pid316.log
